@tailwind base;
@tailwind components;
@tailwind utilities;
#block-1 {
    position: relative;
}

#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/patterns/pattern4.png');
    background-size: 213.25px;
    background-repeat: repeat;
    opacity: 10%;
    z-index: -1 !important;
}

#volna-bg{
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 898px;
    background-image: url('../images/volna-1.png');
    background-repeat: repeat;
}

.p-card:hover{
    background-color: #8A48E6 !important;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.p-card:hover div{
    color: white;
}

.p-card:hover path{
    stroke: white;
}
.p-card:hover:first-child path{
    fill: white;
}


@media (max-width: 991px) {
    #baba {
        display: none;
    }
    #buttons-main{
        flex-direction: column;
        gap: 20px;
    }
    #meta{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 16px !important;
        justify-content: center !important;
    }
    #meta-img{
        width: 300px;
    }
    #efectiv{
        padding: 16px;
        text-align: center;
    }
    #text-main{
        align-items: center;
        text-decoration: none !important;
    }
    #block-2{
        flex-direction: column;
        padding-left: 0;
        padding-top: 0;
        align-items: center !important;
        width: 100%;
    }
    #meta-blocks-3{
        justify-content: center;
        flex-direction: column;
    }
    #meta-blocks-3 div{
        max-width: none !important;
        width: 100% !important;
    }
    #text-oct img{
        height: auto !important;
    }
    #text-oct{
        background-color: #120C38;
    }
    .p-card{
        height: auto !important;
        width: 100% !important;
        padding: 10px !important;
    }
    #possibilities{
        padding: 16px !important;
    }
}
@media (max-width: 1400px) {
    #image-who{
        display: none;
    }
    #image-who-adaptive{
        display: block;
        padding: 16px !important;
    }
    #efectiv,
    #meta{
        padding: 16px !important;
    }
    #block-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }
    #text-oct{
        justify-content: center;
        align-items: center;
        padding: 16px !important;
        padding-bottom: 0 !important;
    }
}