.carousel-container {
    position: relative;
    width: 100%;
}

.carousel-wrapper {
    overflow: hidden; /* Скрываем лишние карточки */
    position: relative;
    user-select: none; /* Отключаем выделение текста при перетаскивании */
    -webkit-user-select: none; /* Для Safari */
    -ms-user-select: none; /* Для Edge */
    touch-action: pan-y; /* Разрешаем только вертикальный скролл на сенсорных устройствах */
}

#carousel {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out; /* Плавный переход для transform */
}

.carousel-item {
    flex: 0 0 auto;
    margin: 0 8px; /* Отступы между карточками */
}

.carousel-wrapper, .carousel-item {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1400px) {
    #octopus-img{
        display: none;
    }
}
@media (max-width: 1100px) {
    #block-top,
    #block-add-review{
        padding: 16px !important;
    }
    #block-top-rev{
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    .rev-card-123{
        max-width: 100px;
    }
    .carousel-buttons{
        display: none;
    }
    .review-card {
        width: 343px !important; 
        align-items: center;
    }
    .name-stars-flex{
        flex-direction: column-reverse;
        align-items: center;
    }
}